/* NORMALIZACIÓN:  */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; /* Esto mantiene el ancho y alto a pesar de padding y border*/
    list-style: none; /* Quitar los puntos e decoración de las listas */
    text-decoration: none; /* Esto quita el subrayado de los enlaces */
    color: rgb(240, 240, 240) ;
}

body {
    background-color: black;
}

header {
    position: fixed; /* Esto hace que el haader se quede fijo en la parte superior */
    right: 0;   
    top: 10px;
    z-index: 100; /* Esto hace que el header se muestre por encima*/
    width: 100%;
    display: flex; /* Esto hará que los elementos se pongan en linea */
    align-items: center; /* Centra verticalmente */|
    justify-content: space-between; /* Que los elementos se separen */
    padding: 15px 3%;
    background-color: transparent;
}

.hero{
    height: 100%;
    width: 75%;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0);
    position: relative; 
    display: grid; 
    align-items:end; 
/* ----- PROPIEDADES DE FONDO DE IMAGEN ----- */
    background-image: url('assets/mainimage.jpg'); 
    background-size: cover; 
    background-position: center center; 
    background-repeat: no-repeat; /* Evita que la imagen se repita */
}

.hero-text {
    margin-bottom: 90px;
}

section {
    padding: 0 5%;
}

.hero-text h1 {
    background-color: transparent;
    font-family: quck-sans, sans-serif;
    font-size: 60px;
    line-height: 1;
    margin: 0 0 30px;
}

.hero-text h2 {
    background-color: transparent;
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 25px;
}

.hero-text a {
    display: inline-block;
    background-color: #39e2e865;
    border: 1px solid transparent;
    padding: 15px 30px;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 500;
    border-radius: 40px;
    text-transform: uppercase;
    transition: all .9s ease;
}

.hero-text a:hover {
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.526);
    transform: translateX(6px);
    transition: all .5s ease;
}

.aboutme {
    color: #c1ff72;
    font-family: quck-sans, sans-serif;
    height: 100%;
    width: 75%;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0);
    position: relative; 
    display: grid; 
    align-items:end;
    align-content: center;
/* ----- PROPIEDADES DE FONDO DE IMAGEN ----- */
    background-image: url('assets/aboutme.png'); 
    background-size: cover; 
    background-position: center center; 
    background-repeat: no-repeat; /* Evita que la imagen se repita */
}

.aboutme p {
    color: #39e2e865;
    background-color: transparent;
    font-family: quck-sans, sans-serif;
    font-size: 20px;
    line-height: 1.5;
    margin: 0 0 30px;
}

.aboutme h1 {
    color: #39e2e865;
    background-color: transparent;
    font-family: quck-sans, sans-serif;
    font-size: 60px;
    line-height: 1;
    margin: 0 0 30px;
}

.aboutme h1:hover {
    color: #39e2e865;
    transition: all .5s ease;
    transform: translateX(6px);
}

.contact {
    width: 100%;

    /* ----- PROPIEDADES DE FONDO DE IMAGEN ----- */
    background-image: url('assets/contact.png'); 
    background-size: cover; 
    background-position: center center; 
    background-repeat: no-repeat; /* Evita que la imagen se repita */
}



/* Aca vamos a hacer mediaqueries para que la web sea responsive */
@media (max-width:992px){
    section {
        padding: 0 3%;
        transition: .2s;
    }

    .hero-text{
        padding-top: 0;
    }

    .hero-img{
        text-align: center;
    }

    .hero-img img{
        width: 80%;
        margin: 10% 0 0 10%;
    }

    .hero-text p {
        font-size: 70%;
    }

    .icons{
        display: none;
    }

    .scroll-down{
        display: none;
    }
}

@media (max-width: 768px){

    .menu-icon-action{
        display: block;
    }

    #menu-icon{
        display: block;
    }

    .hero-text{
        text-align: center;
        padding-top: 100px;
    }

    .hero-img img {
        margin: 0;
        width: 30%;
    }

    .hero-img:hover img {
        margin: 0;
        width:45% ;
    }

    .hero {
        height: 100%;
        gap: 1rem;
        grid-template-columns: 1fr;
    }

    .navlist{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 200px;
        height: 180px;
        background-color: #021719ef;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px 20px;
        transition: all .5s ease-out;
    }

    .navlist a {
        display: block;
        margin: 7px 0;
    }

    #menu-toggle:checked + label.menu-icon-action + ul{
        right: 0;
    }
}